body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;  
}

a {
  text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	top: -1px;
	left: -1px;
	font-size: 0;
	opacity: 0;
}

.main-header {
	background-color: #eeeeee;
	padding-top: 49px;
	margin-bottom: 80px;
}

.inner-header {
	padding-bottom: 108px;
	margin-bottom: 58px;
}

.logo img:hover {
	opacity: 0.8;
}

.logo img:active {
	opacity: 0.3;
}

.wrapper {
	width: 1160px;
	padding: 0 20px;
	margin: 0 auto;
}

.main-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inner-navigation {
	padding-bottom: 76px;
}

.user-navigation,
.basket {
	list-style: none;
}

.user-navigation {
	display: flex;
	margin: 0;
	margin-right: 40px;
	padding: 0;
	align-items: center;
}

.user-navigation li {
	margin-right: 47px;
}

.user-navigation li.active,
.user-navigation li:active {
	border-bottom: 2px solid red;
}

.user-navigation li:last-child {
	margin-right: 0;
}

.slider-item,
.slide-control {
	display: none;
}

#slide-control-1:checked ~ .slider-items .slider-item:nth-child(1) {
	display: block;
}

#slide-control-2:checked ~ .slider-items .slider-item:nth-child(2) {
	display: block;
}

#slide-control-3:checked ~ .slider-items .slider-item:nth-child(3) {
	display: block;
}

.slider-buttons {
	display: flex;
}

.slider-buttons label {
	display: inline-block;
	font-size: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #000;
	margin: 0 10px;
	cursor: pointer;
}

.user-navigation a,
.basket a {
	line-height: 30px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
}

.user-navigation a:hover,
.basket a:hover,
.user-navigation a:focus,
.basket a:focus {
	color: #fb565a;
}

.user-navigation a:active,
.basket a:active {
	opacity: 0.3;
}

.main-header h1 {
	text-align: center;
	font-size: 55px;
	line-height: 55px;
	margin: 0;
}

.services-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.services-caption {
	margin: 0;
	margin-bottom: 18px;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	text-transform: uppercase;
}

.services-list-item img {
	margin-bottom: 20px;
}

.services-list-item p {
	margin: 0;
	margin-bottom: 30px;
}

.services {
	width: 1100px;
	margin-bottom: 80px;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}

.web-sites-btn {
	background-color: #fb565a;
	padding: 15px 40px;
	border-radius: 3px;	
}

.web-sites-btn:hover,
.web-sites-btn:focus {
	background-color: #e74246;
}

.web-sites-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.apps-btn {
	background-color: #00ca74;
	padding: 15px 40px;
	border-radius: 3px;
}

.presentations-btn {
	background-color: #efc84a;
	padding: 15px 40px;
	border-radius: 3px;
}

.apps-btn:hover,
.apps-btn:focus {
	background-color: #00bc6c
}

.presentations-btn:hover,
.presentations-btn:focus {
	background-color: #eab534
}

.work-description {
	width: 660px;
}

.work-description p {
	margin: 0;
	margin-bottom: 40px;	
}

.work-description-title {
	display: block;
	font-size: 45px;
	line-height: 45px;
	color: #000;
	margin-bottom: 35px;
}

.work-description-caption {
	margin: 0;
	margin-bottom: 30px;
	font-weight: 700;
	text-transform: uppercase;	
}

.work-description-list {
	margin: 0;
	padding: 0;
	list-style: none;	
}

.work-description-list li {
	margin-bottom: 30px;
}

.work-description-list li:last-child {
	margin-bottom: 0;
}

.work-description-list li::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
	margin-right: 11px;
}

.description {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
	margin-bottom: 30px;
	border-top: 2px solid #eee;

}

.achievements {
	width: 360px;
}

.achievements p {
	margin: 0;
	margin-bottom: 50px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	text-align: center;	
}

.achievements-table {
	width: 360px;
	border-spacing: 28px;
	border-collapse: collapse;
}

.achievements-table th {
	width: 100px;
	text-align: left;
	font-size: 45px;
	font-weight: 700;
	padding: 0;
}

.achievements-table td {
	width: 100px;
	padding: 0;
	line-height: 18px;
	padding-top: 30px;
}

.achievements-logo {
	margin: 0;
	margin-bottom: 30px;	
}

.our-works {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	margin-bottom: 80px;
}

.our-works-item {
	opacity: 0.2;
}

.our-works-item:hover {
	opacity: 1;
}

.our-works-item:active {
	opacity: 0.1;
}

.map {
	position: relative;
}

.contacts {
	position: absolute;
	top: 54px;
	left: 360px;
	background-color: #fff;
	width: 319px;
	box-sizing: border-box;
	padding: 46px 50px;
}

.contacts h2 {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700px;
	margin: 0;
	margin-bottom: 27px;
}

.contacts address {
	font-style: normal;
	color: #666;
	margin-bottom: 20px;
}

.contacts p {
	margin: 0;
	color: #666;
	margin-bottom: 36px;
}

.write-us-btn {
	background-color: #fb565a;
	padding: 16px 44px;
	border-radius: 3px;
}

.main-content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.sidebar {
	width: 260px;
}

.sorting {
	width: 100%;
	margin-bottom: 58px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sorting p {
	margin: 0;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;	
}

.sorting-type-item {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 46px;	
}

.sorting-type-item li {
	display: inline-block;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000;
	opacity: 0.3;
	margin-right: 26px;
	cursor: default;
}

.sorting-type-item li:hover {
	opacity: 0.6;
}

.sorting-type-item li:last-child {
	margin-right: 0;
}

.sorting-down {
	display: inline-block;
	font-size: 0;
	width: 11px;
	height: 10px;
	background-image: url(../img/icon-down-dir.png);
	background-repeat: no-repeat;
	margin-right: 18px;
	opacity: 0.2;
}

.sorting-up {
	display: inline-block;
	font-size: 0;
	width: 11px;
	height: 10px;
	background-image: url(../img/icon-up-dir.png);
	background-repeat: no-repeat;
	opacity: 0.2;
}

.sorting-down:hover,
.sorting-up:hover {
	opacity: 0.5;
}

.sorting-down:active,
.sorting-up:active {
	opacity: 1;
}

.templates {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 760px;
}

.templates-item {
	position: relative;
	line-height: 0;
	margin-bottom: 33px;	
}

.templates-item img {
	border: 1px solid rgba(0, 1, 1, 0.1);
	border-top: none;
}

.templates-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
  cursor: pointer;
}

.templates-item:hover .templates-description {
	display: block;
}

.templates-item:hover .templates-head {
	opacity: 1;
}

.templates-description {
	text-align: center;
	background-color: #eeeeee;
	box-sizing: border-box;
	padding: 28px 0 43px;
	position: absolute;
	width: 360px;
	bottom: 0;
	display: none;
}

.templates-description-caption {
	margin: 0;
	margin-bottom: 16px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;	
	text-transform: uppercase;	
}

.templates-description p {
	margin: 0;
	line-height: 18px;
	margin-bottom: 28px;
}

.templates-btn {
	border: none;
	line-height: 18px;
	width: 200px;
	padding: 16px 0;
	background-color: #fb565a;
	border-radius: 3px;
}

.templates-head {
	width: 360px;
	height: 40px;
	background-image: url(../img/browser.svg);
	opacity: 0.12;	
}

.pagination-item {
	display: inline-block;
	background-color: #eee;
	text-decoration: none;
	padding: 18px 23px;
	border-radius: 4px;
	line-height: 18px;
	color: #000;
	font-weight: 500;
	margin-right: 11px;
	text-transform: uppercase;
}

.pagination-item:hover {
	background-color: #dfdfdf;
}

.pagination-item:active {
	background-color: #d5d5d5;
	box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.pagination-btn {
	padding: 18px 79px;

}

.pagination {
	margin-bottom: 60px;
}













.modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -200%);	
	background-color: #fff;
	width: 760px;
	padding: 65px 80px;
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
}

.modal-close {
	position: absolute;
	font-size: 0;
	width: 20px;
	height: 20px;
	right: 70px;
	top: 75px;
	background: #000;
	border: none;
	cursor: pointer;
}

.write-us-form {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

.modal-caption {
	margin: 0;
	margin-bottom: 40px;
	font-size: 45px;
	line-height: 45px;
}


.form-input-title {
	display: block;
	margin-bottom: 10px;
	line-height: 18px;
	font-weight: 700;
	color: #000;
}

.write-us-input {
	box-sizing: border-box;
	width: 360px;
	margin-bottom: 30px;
	border: 2px solid #d7dcde;
	border-radius: 4px;
	padding: 13px 14px;
}

.write-us-input:hover {
	border: 2px solid #b4b9bb;
}

.write-us-input:focus {
	outline: none;
	border: 2px solid #000;
}


.form-textarea textarea {
	box-sizing: border-box;
	width: 760px;
}

.modal-btn {
	background-color: #fb565a;
	border: none;
	padding: 15px 80px;
	border-radius: 3px;	
}

.main-footer-inner {
	display: flex;
	align-items: center;
	padding: 69px 0;
}

.social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 260px;
	margin-right: 140px;	
}

.icon {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #e1e1e1;
	font-size: 0;
	display: block;
}

.icon:hover,
.icon:focus {
	background-color: #e74246;  
}

.icon:active {
	box-shadow: inset 0px 3px 0px 0px rgba(0, 1, 1, 0.1);
}

.icon:active::before {
	opacity: 0.3;
}

.vk::before {
	content: "";
	position: absolute;
	top: 34px;
	left: 25px;
	width: 26px;
	height: 15px;
	background: url(../img/vk-icon.svg) no-repeat;
}

.fb::before {
	content: "";
	position: absolute;
	top: 30px;
	left: 32px;
	width: 12px;
	height: 22px;
	background: url(../img/fb-icon.svg) no-repeat;
}

.instagram::before {
	content: "";
	position: absolute;
	top: 30px;
	left: 30px;
	width: 21px;
	height: 21px;
	background: url(../img/insta-icon.svg) no-repeat;

}

.friendship-bold {
	margin: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}


.friendship p {
	margin-bottom: 0;
	line-height: 22px;
	color: #444444;
	
}


.write-us-form label {
	line-height: 18px
}

.filter fieldset {
	border: none;	
}

.filter-legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.filter-list {
	list-style: none
}

.filter-option label {
	line-height: 20px
}

.filter-option label:hover {
	color: #000;
}

